{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list">
    {%- assign seen_series_titles = "" -%}
    {%- for post in paginator.posts -%}
    {%- if post.series -%}
      {%- assign series_title_key = post.series | append: "|" | append: post.title -%}
      {%- if seen_series_titles contains series_title_key -%}
        {%- continue -%}
      {%- endif -%}
      {%- assign seen_series_titles = seen_series_titles | append: "," | append: series_title_key -%}
    {%- endif -%}
    <li>
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}

      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      {%- include functions.html func='get_article_excerpt' -%}
      {% assign excerpt = return %}
      {%- assign post_url = post.url | relative_url -%}

      {%- assign post_date_sec = post.date | date: "%s" | plus: 0 -%}
      {%- assign now_sec = "now" | date: "%s" | plus: 0 -%}
      {%- assign diff_sec = now_sec | minus: post_date_sec -%}
      {%- assign three_days = 259200 -%}
      <h2 class="post-title">
        <a class="post-link" href="{{ post_url }}">
          {{ post.title | escape }}
        </a>
        {%- if diff_sec <= three_days -%}
          <span style="display:inline-block;margin-left:8px;padding:2px 6px;background:#e74c3c;color:#fff;font-size:11px;font-weight:600;border-radius:3px;vertical-align:middle;line-height:1.2;">NEW</span>
        {%- endif -%}
      </h2>
      <div class="post-meta">
        <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date | date: date_format }}</span>
        <span class="post-reading-time left-vsplit"><i class="fa fa-clock-o"></i> {{ reading_time }}</span>
      </div>
      <a class="post-excerpt" href="{{ post_url }}">
        <p>
        {{ excerpt }} <span class="read_more">Read More</span>
        </p>
      </a>
      <div class="post-tags">
        {%- for tag in post.tags -%}
        <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
        {%- endfor -%}
      </div>
    </li>
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
