{%- if include.item -%}
  {%- assign item = include.item -%}
{%- endif -%}

{%- assign post = item -%}

{% assign date_format = site.yat.date_format | default: "%b %-d, %Y" %}
{%- assign post_date_sec = post.date | date: "%s" | plus: 0 -%}
{%- assign now_sec = "now" | date: "%s" | plus: 0 -%}
{%- assign diff_sec = now_sec | minus: post_date_sec -%}
{%- assign three_days = 259200 -%}
<span class="post-meta">{{ post.date | date: date_format }}</span>
<span>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
  {%- if diff_sec <= three_days -%}
    <span class="new-badge">NEW</span>
  {%- endif -%}
</span>
